body{
margin:0;
font-family:Arial, Helvetica, sans-serif;
background:#f4f6f9;
}


/* SIDEBAR */

.sidebar{

position:fixed;
left:0;
top:0;

width:230px;
height:100%;

background:#1f2d3d;

padding-top:20px;

}

.sidebar h2{

color:white;
text-align:center;
margin-bottom:30px;

}

.sidebar a{

display:block;
padding:14px;

color:white;
text-decoration:none;

transition:0.2s;

}

.sidebar a:hover{

background:#3c8dbc;

}



/* CONTENT */

.content{

margin-left:230px;

min-height:100vh;

}



/* TOPBAR */

.topbar{

background:white;

padding:15px;

box-shadow:0 2px 4px rgba(0,0,0,0.1);

}

.topbar h1{

margin:0;
font-size:20px;

}



/* MAIN */

.main-content{

padding:25px;

}



/* CARDS */

.card{

background:white;

padding:20px;

border-radius:8px;

box-shadow:0 2px 6px rgba(0,0,0,0.1);

margin-bottom:20px;

}



/* TABLE */

table{

width:100%;

border-collapse:collapse;

background:white;

}

th{

background:#1f2d3d;
color:white;
padding:12px;

}

td{

padding:12px;
border-bottom:1px solid #ddd;

}



/* BUTTONS */

button{

padding:8px 14px;

background:#3c8dbc;

border:none;

color:white;

border-radius:5px;

cursor:pointer;

}

button:hover{

background:#367fa9;

}



/* INPUTS */

input, select{

padding:8px;

margin:5px;

border:1px solid #ccc;

border-radius:4px;

}