{% extends "layout.html" %}

{% block content %}

<h1>Gestión de alumnos</h1>

<h2>Registrar alumno</h2>

<form action="/admin/crear_alumno" method="POST" enctype="multipart/form-data">

<input type="text" name="nombre" placeholder="Nombre del alumno" required>

<select name="grupo">
{% for grupo in grupos %}
<option value="{{ grupo.nombre }}">
{{ grupo.nombre }}
</option>
{% endfor %}
</select>

<input type="file" name="foto">

<button type="submit">
Registrar alumno
</button>

</form>


<br><br>

<h2>Lista de alumnos</h2>

<table>

<tr>
<th>Foto</th>
<th>Alumno</th>
<th>Grupo</th>
<th>Kardex</th>
<th>Boleta</th>
<th>Cambiar foto</th>
<th>Eliminar</th>
</tr>

{% for alumno in alumnos %}

<tr>

<td>

{% if alumno.foto %}

<img src="{{ alumno.foto }}"
     width="50"
     height="50"
     style="border-radius:50%; object-fit:cover; cursor:pointer;"
     onclick="verFoto('{{ alumno.foto }}')">

{% else %}
Sin foto
{% endif %}

</td>

<td>{{ alumno.nombre }}</td>
<td>{{ alumno.grupo }}</td>

<td>
<a href="/admin/kardex/{{ alumno.nombre }}">
<button>Kardex</button>
</a>
</td>

<td>
<a href="/admin/boleta/{{ alumno.nombre }}">
<button>Boleta</button>
</a>
</td>

<td>

<form action="/admin/subir_foto_alumno/{{ alumno._id }}" method="POST" enctype="multipart/form-data">

<input type="file" name="foto" required>

<button type="submit">Subir</button>

</form>

</td>

<td>
<a href="/eliminar_alumno/{{ alumno._id }}">
<button style="background:red;">Eliminar</button>
</a>
</td>

</tr>

{% endfor %}

</table>


<!-- =========================
MODAL FOTO GRANDE
========================= -->

<div id="modalFoto" style="
display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.8);
justify-content:center;
align-items:center;
z-index:999;
">

<img id="fotoGrande"
     style="max-width:80%; max-height:80%; border-radius:10px;">

</div>


<script>

function verFoto(src){
    document.getElementById("modalFoto").style.display = "flex"
    document.getElementById("fotoGrande").src = src
}

document.getElementById("modalFoto").onclick = function(){
    this.style.display = "none"
}

</script>

{% endblock %}