{% extends "layout.html" %}

{% block content %}

<h1>Gestión de alumnos</h1>

<h2>Registrar alumno</h2>

<form action="/crear_alumno" method="POST">

<input type="text" name="nombre" placeholder="Nombre del alumno" required>

<select name="grupo">

{% for grupo in grupos %}

<option value="{{ grupo.nombre }}">
{{ grupo.nombre }}
</option>

{% endfor %}

</select>

<button type="submit">
Registrar alumno
</button>

</form>

<br>
<br>

<h2>Lista de alumnos</h2>

<table>

<tr>
<th>Alumno</th>
<th>Grupo</th>
<th>Kardex</th>
<th>Boleta</th>
<th>Eliminar</th>
</tr>

{% for alumno in alumnos %}

<tr>

<td>{{ alumno.nombre }}</td>

<td>{{ alumno.grupo }}</td>

<td>
<a href="/kardex/{{ alumno.nombre }}">
<button>Kardex</button>
</a>
</td>

<td>
<a href="/boleta/{{ alumno.nombre }}">
<button>Boleta</button>
</a>
</td>

<td>
<a href="/eliminar_alumno/{{ alumno._id }}">
<button style="background:red;">Eliminar</button>
</a>
</td>

</tr>

{% endfor %}

</table>

{% endblock %}