{% extends "layout.html" %}
{% block contenido %}

<div class="card">

<h2>Registro de Asistencia</h2>

<form method="POST" action="/guardar_asistencia">

<table>

<tr>
<th>Foto</th>
<th>Alumno</th>
<th>Estado</th>
</tr>

{% for alumno in alumnos %}

<tr>

<td>

{% if alumno.foto %}
<img src="{{ alumno.foto }}" width="50" height="50"
style="border-radius:50%; object-fit:cover;">
{% else %}
Sin foto
{% endif %}

</td>

<td>
{{ alumno.nombre }}
</td>

<td>

<select name="estado_{{ alumno._id }}">

<option value="Presente">Presente</option>
<option value="Ausente">Ausente</option>

</select>

<input type="hidden" name="alumno_{{ alumno._id }}" value="{{ alumno._id }}">

</td>

</tr>

{% endfor %}

</table>

<br>

<button class="btn-green">Guardar asistencia</button>

</form>

</div>

{% endblock %}