{% extends "layout.html" %}
{% block content %}

<h2>📢 Enviar aviso</h2>

<form action="/crear_aviso_maestro" method="POST">

<label>Grupo:</label>
<select name="grupo" required>
{% for g in grupos %}
<option value="{{ g }}">{{ g }}</option>
{% endfor %}
</select>

<br><br>

<label>Mensaje:</label>
<textarea name="mensaje" placeholder="Escribe el aviso..." required></textarea>

<br><br>

<button style="background:#2ecc71;color:white;padding:8px 15px;border:none;border-radius:6px;">
📤 Enviar aviso
</button>

</form>

{% endblock %}