{% extends "layout.html" %}
{% block contenido %}

<div class="card">

<h2>Registrar Calificación</h2>

<form method="POST" action="/guardar_calificacion">

<select name="alumno">
{% for alumno in alumnos %}
<option value="{{ alumno.id }}">
{{ alumno.nombre }} {{ alumno.apellido }}
</option>
{% endfor %}
</select>

<select name="materia">
{% for materia in materias %}
<option value="{{ materia.id }}">
{{ materia.nombre }}
</option>
{% endfor %}
</select>

<input type="number" name="calificacion" placeholder="Calificación">

<button class="btn-green">Guardar</button>

</form>

</div>

{% endblock %}