{% extends "layout.html" %}

{% block content %}

<h2>Expediente financiero</h2>

<h3>{{ pago.alumno }}</h3>

<p>
Grupo:
<b>{{ pago.grupo }}</b>
</p>

<p>
Mensualidad:
<b>${{ pago.mensualidad }}</b>
</p>

<p>
Pagado:
<b>${{ pago.total_pagado }}</b>
</p>

<p>
Restante:
<b>${{ pago.saldo_restante }}</b>
</p>

<hr>

<h3>Historial de movimientos</h3>

<table border="1" width="100%">

<tr>

<th>Fecha de pago</th>
<th>Hora</th>
<th>Ciclo escolar</th>
<th>Mes cubierto</th>
<th>Monto</th>
<th>Método</th>
<th>Estado</th>

</tr>

{% for m in movimientos %}

<td>

<a href="/admin/editar_movimiento/{{ m._id }}">
Editar
</a>

</td>

<tr>

<td>{{ m.fecha_pago }}</td>

<td>{{ m.hora_pago }}</td>

<td>{{ m.ciclo_escolar }}</td>

<td>{{ m.mes_cubierto }}</td>

<td>${{ m.monto }}</td>

<td>{{ m.metodo }}</td>

<td>{{ m.estatus }}</td>

</tr>

{% endfor %}

</table>

{% endblock %}