{% extends "layout.html" %}

{% block titulo %}
Gestión de Grupos
{% endblock %}

{% block contenido %}

<h2>Crear grupo</h2>

<form action="/crear_grupo" method="POST">

<input type="text" name="nombre" placeholder="Nombre del grupo" required>

<button type="submit">Crear</button>

</form>


<br><br>

<h2>Lista de grupos</h2>

<table>

<tr>

<th>Grupo</th>
<th>Acciones</th>

</tr>

{% for grupo in grupos %}

<tr>

<td>{{ grupo.nombre }}</td>

<td>

<a href="/eliminar_grupo/{{ grupo._id }}">

<button>Eliminar</button>

</a>

</td>

</tr>

{% endfor %}

</table>

{% endblock %}