<!DOCTYPE html>
<html>

<head>

<title>Login</title>

</head>

<body>

<h2>Login Dirección</h2>

<form action="/login_admin" method="POST">

<input name="usuario" placeholder="Usuario">
<input name="password" type="password" placeholder="Contraseña">

<button>Entrar</button>

</form>

<hr>

<h2>Login Maestro</h2>

<form action="/login_maestro" method="POST">

<input name="correo" placeholder="Correo">
<input name="password" type="password" placeholder="Contraseña">

<button>Entrar</button>

</form>

</body>

</html>