<!DOCTYPE html>
<html lang="es">

<head>

<meta charset="UTF-8">
<title>Control Escolar</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="sidebar">

<h2>Control Escolar</h2>

<a href="/admin">Dashboard</a>
<a href="/alumnos">Alumnos</a>
<a href="/maestros">Maestros</a>
<a href="/grupos">Grupos</a>
<a href="/materias">Materias</a>
<a href="/reportes">Reportes</a>
<a href="/configuracion">Configuración</a>
<a href="/logout">Cerrar sesión</a>

</div>


<div class="content">

{% block content %}

{% endblock %}

</div>


</body>
</html>