{% extends "layout.html" %}

{% block content %}

<h1>👨‍🏫 Gestión de maestros</h1>

<!-- ================= REGISTRO ================= -->
<h2>Registrar maestro</h2>

<form action="/admin/crear_maestro" method="POST" class="form-inline">
<input type="text" name="nombre" placeholder="Nombre" required>
<input type="text" name="usuario" placeholder="Usuario" required>
<input type="text" name="password" placeholder="Contraseña" required>
<button type="submit">Registrar</button>
</form>


<!-- ================= LISTA ================= -->
<h2>Lista de maestros</h2>

<table>

<tr>
<th>Nombre</th>
<th>Usuario</th>
<th>Eliminar</th>
</tr>

{% for maestro in maestros %}

<tr>
<td>{{ maestro.nombre }}</td>
<td>{{ maestro.usuario }}</td>

<td>
<a href="/admin/eliminar_maestro/{{ maestro._id }}"
   onclick="return confirm('¿Eliminar maestro?')">
<button style="background:#e74c3c;color:white;">Eliminar</button>
</a>
</td>

</tr>

{% endfor %}

</table>

{% endblock %}