{% extends "layout.html" %}

{% block contenido %}

<div class="card">

<h2>Registrar Maestro</h2>

<form method="POST" action="/crear_maestro">

<input name="nombre" placeholder="Nombre del maestro">
<input name="correo" placeholder="Correo">

<button class="btn-green">Registrar</button>

</form>

</div>


<div class="card">

<h2>Lista de Maestros</h2>

<table>

<tr>
<th>Nombre</th>
<th>Correo</th>
</tr>

{% for m in maestros %}

<tr>

<td>{{m.nombre}}</td>
<td>{{m.correo}}</td>

</tr>

{% endfor %}

</table>

</div>

{% endblock %}