{% extends "layout.html" %}

{% block content %}

<h1>Gestión de maestros</h1>


<h2>Registrar maestro</h2>

<form action="/crear_maestro" method="POST">

<input type="text" name="nombre" placeholder="Nombre del maestro" required>

<input type="text" name="usuario" placeholder="Usuario" required>

<input type="password" name="password" placeholder="Contraseña" required>

<button type="submit">
Registrar maestro
</button>

</form>


<br>
<br>


<h2>Lista de maestros</h2>

<table>

<tr>

<th>Nombre</th>
<th>Usuario</th>
<th>Eliminar</th>

</tr>

{% for maestro in maestros %}

<tr>

<td>{{ maestro.nombre }}</td>

<td>{{ maestro.usuario }}</td>

<td>

<a href="/eliminar_maestro/{{ maestro._id }}">

<button style="background:red;">
Eliminar
</button>

</a>

</td>

</tr>

{% endfor %}

</table>

{% endblock %}