{% extends "layout.html" %}

{% block content %}

<h2>Nuevo control de colegiatura</h2>

<form method="POST">

<label>Alumno</label>

<select name="alumno_id" required>

{% for a in alumnos %}

<option value="{{ a._id }}">
{{ a.nombre }} - {{ a.grupo }}
</option>

{% endfor %}

</select>

<br><br>

<label>Mensualidad</label>

<input
type="number"
step="0.01"
name="mensualidad"
required
>

<br><br>

<label>Meses a pagar</label>

<input
type="number"
name="meses_totales"
required
>

<br><br>

<br><br>

<label>Tipo de cobro</label>

<select
    name="tipo_cobro"
    required
>

    <option value="global">
        Global
    </option>

    <option value="mensual">
        Mensual
    </option>

</select>

<br><br>

<button type="submit">
Crear control de pagos
</button>

</form>

{% endblock %}