{% extends "layout.html" %}

{% block content %}

<h2>Pagos escolares</h2>

<a href="/admin/nuevo_pago">

<button>
Nuevo control
</button>

</a>

<br><br>

<table border="1" width="100%">

<tr>

<th>Alumno</th>
<th>Grupo</th>
<th>Mensualidad</th>
<th>Meses</th>
<th>Pagado</th>
<th>Restante</th>
<th>Estado</th>
<th>Acciones</th>

</tr>

{% for p in pagos_db %}

<tr>

<td>{{ p.alumno }}</td>

<td>{{ p.grupo }}</td>

<td>${{ p.mensualidad }}</td>

<td>
{{ p.meses_pagados }}
/
{{ p.meses_totales }}
</td>

<td>${{ p.total_pagado }}</td>

<td>${{ p.saldo_restante }}</td>

<td>{{ p.estatus }}</td>

<td>

<a href="/admin/abonar/{{ p._id }}">

<button>
Abonar
</button>

<a href="/admin/expediente_pago/{{ p._id }}">

<button>
Expediente
</button>

</a>

</a>

</td>

</tr>

{% endfor %}

</table>

{% endblock %}