{% extends "layout.html" %}

{% block content %}

<h2>Registrar abono</h2>

<h3>{{ pago.alumno }}</h3>

<p>
Saldo restante:
<b>
${{ pago.saldo_restante }}
</b>
</p>

<form method="POST">

<label>Monto</label>

<input
type="number"
step="0.01"
name="monto"
required
>

<br><br>

<label>Mes cubierto</label>

<select
name="mes_cubierto"
required
>

<option value="Enero">Enero</option>
<option value="Febrero">Febrero</option>
<option value="Marzo">Marzo</option>
<option value="Abril">Abril</option>
<option value="Mayo">Mayo</option>
<option value="Junio">Junio</option>
<option value="Julio">Julio</option>
<option value="Agosto">Agosto</option>
<option value="Septiembre">Septiembre</option>
<option value="Octubre">Octubre</option>
<option value="Noviembre">Noviembre</option>
<option value="Diciembre">Diciembre</option>

</select>

<br><br>

<label>Método</label>

<select name="metodo">

<option value="efectivo">
Efectivo
</option>

<option value="transferencia">
Transferencia
</option>

<option value="tarjeta">
Tarjeta
</option>

</select>

<br><br>

<button type="submit">
Registrar abono
</button>

</form>

{% endblock %}