{% extends "layout.html" %}

{% block content %}

<h2>Reportes Disciplinarios</h2>

<a href="{{ url_for('admin.admin_dashboard') }}">
<button>Volver</button>
</a>

<br><br>

<table>

<tr>
<th>Alumno</th>
<th>Maestro</th>
<th>Comentario</th>
<th>Estado</th>
<th>Acción</th>
</tr>

{% for r in reportes %}

<tr>

<td>{{ r.alumno }}</td>
<td>{{ r.maestro }}</td>
<td>{{ r.comentario }}</td>

<td>
{% if r.estatus == "pendiente" %}
<span style="color:orange; font-weight:bold;">Pendiente</span>
{% else %}
<span style="color:green; font-weight:bold;">Aprobado</span>
{% endif %}
</td>

<td>

{% if r.estatus == "pendiente" %}

<a href="{{ url_for('admin.aprobar_reporte', id=r._id|string) }}">
<button style="background:#f39c12; color:white;">
Autorizar y generar PDF
</button>
</a>

{% else %}

<a href="{{ url_for('admin.aprobar_reporte', id=r._id|string) }}" target="_blank">
<button style="background:#27ae60; color:white;">
Ver PDF
</button>
</a>

{% endif %}

</td>

</tr>

{% endfor %}

</table>

{% endblock %}