{% extends "layout.html" %}

{% block content %}

<h2>Reportes</h2>

{% if reportes %}

<table>
<tr>
<th>Alumno</th>
<th>Grupo</th>
<th>Maestro</th>
<th>Comentario</th>
<th>Estado</th>
<th>Acción</th>
</tr>

{% for r in reportes %}
<tr>

<td>{{ r.alumno }}</td>
<td>{{ r.grupo }}</td>
<td>{{ r.maestro }}</td>
<td>{{ r.comentario }}</td>
<td>{{ r.estatus or "Pendiente" }}</td>

<td>
<a href="{{ url_for('admin.generar_reporte', id=r._id) }}">
<button style="background:#27ae60;color:white;">PDF</button>
</a>
</td>

</tr>
{% endfor %}

</table>

{% else %}

<p>No hay reportes registrados</p>

{% endif %}

{% endblock %}